In [6]:
import json
import pandas as pd
from tqdm import tqdm

filenames = []
for filename in os.listdir(f'data'):
    filenames.append(f'data/{filename}')

dfs = []
for i in tqdm(range(len(filenames))):
    filename = filenames[i]
    if filename.endswith(".json"):
        with open(filename, 'r') as f:
            data = json.load(f)

        if data['home_name'] not in ['Man City', 'PSG']:
            continue

        events = pd.DataFrame(data['events'])
        passes = events[(events['type'] == 'Pass') & (events['outcomeType'] == 'Successful')]
        passes['opposition_name'] = passes['team_name'].apply(lambda x: data['home_name'] if x == data['away_name'] else data['away_name'])
        dfs.append(passes[['team_name', 'opposition_name', 'start_x', 'end_x', 'start_y', 'end_y']])

df = pd.concat(dfs)
df.to_csv('passes.csv', index=None)
df.head()

 47%|████▋     | 259/556 [00:03<00:03, 79.92it/s]<ipython-input-6-e082fa22d98c>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passes['opposition_name'] = passes['team_name'].apply(lambda x: data['home_name'] if x == data['away_name'] else data['away_name'])
100%|██████████| 556/556 [00:07<00:00, 78.27it/s]

  team_name opposition_name  start_x   end_x  start_y   end_y
0   Arsenal        Man City   52.500  47.355   34.000  35.428
2  Man City         Arsenal   25.410  33.075   59.024  57.664
4  Man City         Arsenal   28.245  19.320   53.312  46.784
5  Man City         Arsenal   13.230   4.095   47.804  38.896
6  Man City         Arsenal    3.990  19.845   38.896  36.108